include ../mixins/content-posts
extends ../layouts/default


mixin event(event)
	if event
		li.media.event-panel.border-top
			.media-left
				if(event.image.exists)
					img(src=event._.image.fit(200,200)).media-object
				else
					img(src="../images/event.jpg" height=200 width=200).media-object
			.media-body		 
				.media-heading.event-header
					.event-title.pull-left
						!{event.title}
					if event.startDate
							.event-date.pull-right 
								p !{event._.startDate.format('MMM, Do')}
				.event-brief-main
					p !{event.content.brief}
				if event.location
					.card-location
						span.icon.icon-location 
							a(href=event.location.locationMapUrl target="_blank") !{event.location.name}				
				.btn-group
					a(href='/events/event/' + event.slug).btn.btn-primary More Info
							

mixin pastEvents(years, tab)
	if (years.length > 0)
		h2.section-title.pull-right
			.dropdown.dropdown-years
				a(href="#" data-toggle="dropdown").dropdown-toggle !{year}
					span.caret-lg
				ul.dropdown-menu
					each year in years
						li 
							a(href='/events/' + year + tab) !{year}	

block sub-header
	.container.sub-nav
		.row
			.col-md-12
				ul.nav.nav-tabs#myTabs
					li(role="presentation").active
						a(href="#tab1" role="tab" data-toggle="tab") !{defaultYear} Event Schedule
					li(role="presentation")
						a(href="#tab2" role="tab" data-toggle="tab") Weekly Park Series	

block content
	.container.main-container
		.tab-content
			div(role="tabpanel").tab-pane.active#tab1
				.row
					.col-md-6
						h2.section-title Event Schedule
							span.icon-title
					.col-md-2
						+pastEvents(data.eventYears, '#tab1')				
				.row
					.col-md-8
						if data.events.length
							ul.media-list
								each event in data.events
									+event(event)
						else
							h3.text-muted There are no events yet.		
			div(role="tabpanel").tab-pane#tab2
				.row
					.col-md-8
						+content-post(data.weeklySeriesContent)
				.row
					.col-md-6
						h2.section-title Park Series Schedule
							span.icon-title
					.col-md-2
						+pastEvents(data.weeklySeriesYears, '#tab2')
				.row
					.col-md-8
						if data.weeklySeries.length
							each event in data.weeklySeries
								+event(event)
						else
							h3.text-muted There are no events yet.			