extends ../layouts/default
include ../mixins/content-posts	

mixin pastEvents(years, tab)
	if (years.length > 0)
		.section-title.pull-right
			.dropdown.dropdown-years.h2
				a(href="#" data-toggle="dropdown").dropdown-toggle #{year}
					span.caret-lg
				ul.dropdown-menu
					each year in years
						li 
							a(href='/events/' + year + tab) #{year}

mixin displayEvents(past, future, prefix)
	if past.length >0 && future.length>0
		.row
			.col-md-8
				ul.nav.nav-pills.event-nav
					li.active
						a(href='##{prefix}upcoming' data-toggle='pill') Upcoming Events
					li
						a(href='##{prefix}past' data-toggle='pill') Past Events	

	.row
		.col-md-8
			.tab-content
				if(future.length>0)
					.tab-pane.fade.in.active(id='#{prefix}upcoming')
						ul.media-list
							each event in future
								+event(event, true, false, '/events/event/')
				if(past.length>0)
					if(future.length > 0)
						.tab-pane.fade(id='#{prefix}past')
							ul.media-list
								each event in past
									+event(event, true, false, '/events/event/')
					else
						.tab-pane.fade.in.active(id='#{prefix}past')
							ul.media-list
								each event in past
									+event(event, true, false, '/events/event/')

block sub-header
	.container.sub-nav
		.row
			.col-md-12
				ul.nav.nav-tabs#myTabs
					li(role="presentation").active
						a(href="#tab1" role="tab" data-toggle="tab") #{defaultYear} Event Schedule
					li(role="presentation")
						a(href="#tab2" role="tab" data-toggle="tab") Weekly Park Series	

block content
	.container.main-container
		.tab-content
			div(role="tabpanel").tab-pane.active#tab1
				.row
					.col-md-8
						+content-post(data.eventsContent)
				.row
					.col-md-8
						h2.section-title.pull-left Event Schedule
							span.icon-title
						+pastEvents(data.eventYears, '#tab1')
				+displayEvents(data.eventsPast, data.eventsFuture, 'event')

			div(role="tabpanel").tab-pane#tab2
				.row
					.col-md-8
						+content-post(data.weeklySeriesContent)
				.row
					.col-md-6
						h2.section-title Park Series Schedule
							span.icon-title
					.col-md-2
						+pastEvents(data.weeklySeriesYears, '#tab2')
				+displayEvents(data.weeklySeriesPast, data.weeklySeriesFuture, 'wed')