include ../mixins/content-posts
extends ../layouts/default


mixin event(event)
	.mdl-card.mdl-cell.event-list-item.mdl-cell--8-col.mdl-shadow--2dp(data-ks-editable=editable(user, { list: 'Post', id: event.id }))
		.card-container
			.card-image
				if(event.image.exists)
					.image-wrap: img(src=event._.image.fit(200,200)).img-responsive
				else
					.image-wrap: img(src="../images/event.jpg" height=200 width=200).img-responsive
			.card-content		
				.mdl-card__title 
					h3: a(href='/events/event/' + event.slug)= event.title
				.mdl-card__supporting-text
					if(event.content.brief)
						!{event.content.brief}	
					if(event.coordinator)	
						p <b>Coordinator:</b> !{event.coordinator.name.full}
					if(event.notes)	
						p !{event.notes}
		.card-location-time		
			if event.location
				.card-location
					span.icon.icon-location 
						a(href=event.location.locationMapUrl target="_blank") !{event.location.name}
			if event.startDate
				.card-time
					span.icon.icon-datetime !{event._.startDate.format('MMMM, Do')}
		.mdl-card__actions.mdl-card--border
			a(href='/events/event/' + event.slug) More Info ...
			if(event.registrationLink)
				a(href=event.registrationLink target="_blank")= actionTitle					


block sub-header
	.mdl-layout__tab-bar#tabs
		a(href="#tab1").mdl-layout__tab.is-active Season Schedule
		a(href="#tab2").mdl-layout__tab Wednesday Evening Series

block content
	main.container.mdl-layout__content 
		section.mdl-layout__tab-panel.is-active(id="tab1")
			+content-post(data.eventsContent)
			.mdl-grid
				if data.events.length
					each event in data.events
						+event(event)
				else
					h3.text-muted There are no events yet.

		section.mdl-layout__tab-panel(id="tab2")
			+content-post(data.weeklySeriesContent)
			.mdl-grid
			if data.weeklySeries.length
				each event in data.weeklySeries
					+event(event)
			else
				h3.text-muted There are no events yet.
