extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a(href='/blog/post/' + post.slug)= post.title
		p.lead.text-muted Posted 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.author
				| by #{post.author.name.first}
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Read more...


block sub-header
	.mdl-layout__tab-bar.mdl-js-ripple-effect
		a(href="#tab1").mdl-layout__tab.is-active Season Schedule
		a(href="#tab2").mdl-layout__tab Wednesday Evening Series

block content
	main.mdl-layout__content
		section.mdl-layout__tab-panel.is-active(id="tab1")
			.page-content
				h2 Season Schedule
				.container: .row
					.col-sm-8.col-md-9
						if filters.category && !data.category
							h3.text-muted Invalid Category.
						else
							if data.events.results.length
								if data.events.totalPages > 1
									h4.text-weight-normal Showing 
										strong #{data.events.first}
										|  to 
										strong #{data.events.last}
										|  of 
										strong #{data.events.total}
										|  posts.
								else
									h4.text-weight-normal Showing #{utils.plural(data.events.results.length, '* post')}.
								.blog
									each post in data.events.results
										+post(post)
								
								if data.events.totalPages > 1
									ul.pagination
										if data.events.previous
											li: a(href='?page=' + data.events.previous): span.glyphicon.glyphicon-chevron-left
										else
											li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
										each p, i in data.events.pages
											li(class=data.events.currentPage == p ? 'active' : null)
												a(href='?page=' + (p == '...' ? (i ? data.events.totalPages : 1) : p ))= p
										if data.events.next
											li: a(href='?page=' + data.events.next): span.glyphicon.glyphicon-chevron-right
										else
											li.disabled: a(href='?page=' + data.events.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
							else
								if data.category
									h3.text-muted There are no posts in the category #{data.category.name}.
								else
									h3.text-muted There are no posts yet.

		section.mdl-layout__tab-panel(id="tab2")
			.page-content
				p Wednesday Evening Series		


					
