extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a(href='/blog/post/' + post.slug)= post.title
		p.lead.text-muted Posted 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.author
				| by #{post.author.name.first}
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Read more...


block sub-header
	.mdl-layout__tab-bar.mdl-js-ripple-effect
		a(href="#tab1").mdl-layout__tab.is-active Season Schedule
		a(href="#tab2").mdl-layout__tab Wednesday Evening Series

block content
	main.mdl-layout__content
		section.mdl-layout__tab-panel.is-active(id="tab1")
			.page-content
				.container !{data.eventsContent.content.extended}
				.container: .row
					.col-sm-8.col-md-9
						if data.events.length
							h4.text-weight-normal Showing #{utils.plural(data.events.length, '* post')}.
							.blog
								each post in data.events
									+post(post)
							
						else
							h3.text-muted There are no events yet.

		section.mdl-layout__tab-panel(id="tab2")
			.page-content
				.container !{data.weeklySeriesContent.content.extended}
				.container: .row
					.col-sm-8.col-md-9
						if data.weeklySeries.length
							h4.text-weight-normal Showing #{utils.plural(data.weeklySeries.length, '* post')}.
							.blog
								each post in data.weeklySeries
									+post(post)
							
						else
							h3.text-muted There are no events yet.		


					
