extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-md-8
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.event
				h2 Invalid Event.
			else
				header
					h1= data.event.title
					h5 Posted
						if data.event.publishedDate
							| on #{data.event._.publishedDate.format('MMMM Do, YYYY')} 
						if data.event.categories && data.event.categories.length
							| in 
							each cat, cat_i in data.event.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.event.categories.length - 1
									| , 
								else
									|  
						if data.event.author
							| by #{data.event.author.name.first}
				.event
					if data.event.image.exists
						.image-wrap: img(src=data.event._.image.fit(750,450)).img-responsive
					!= data.event.content.full
