extends ../layouts/default

block content
	.container
		.row
			.col-md-10
				p: a(href='/events') &larr; back to the events
				hr
				if !data.event
					h2 Invalid Event.
				else
					.row
						.col-md-10
							header
								h1.pull-left= data.event.title
								.post-social
									a(href="https://twitter.com/intent/tweet?text=#{data.event.title}&url=#{data.event.fullEventUrl}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;")
										img(src="../../images/twitter.png").icon.social-icon
									a(href="https://www.facebook.com/sharer/sharer.php?u=#{data.event.fullPostUrl}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;")
										img(src="../../images/facebook.png").icon.social-icon
									a(href="https://plus.google.com/share?url=#{data.event.fullPostUrl}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;")
										img(src="../../images/google.png").icon.social-icon
							.post-content
								if data.event.image.exists
									img(src=data.event._.image.fit(750,450) alt="Event image").img-responsive.centered-image			
								!= data.event.content.full
									table
										if data.event.results.length > 0
											tr
												td
													b Results
												td
													ul
													each result in data.event.results
														li 
															a(href="#{result.fullDocUrl}") #{result.title} 

										if data.event.startDate
											tr 
												td 
													b Start time
												td 
													| #{data.event._.startDate.format('dddd, MMMM Do, h:mm a')}
										if (data.event.registrationLink || data.event.hasClinic)
											tr 
												td 
													b Registration
												td
													if (data.event.registrationTime)
														p 
															b Time: 
															!= data.event.registrationTime
													if(data.event.registrationLink)	
														p: a(href="#{data.event.registrationLink}") Register Online
													else if(data.event.hasClinic == true)
														p: a(href="mailto:info@torontoorienteering.com?subject=#{data.event.title}-#{data.event._.startDate.format('MMM, Do')}" target="_blank") Register for clinic			
										if data.event.meetDirector.length>0 || data.event.courseSetter.length>0
											tr 
												td 
													b Organizers
												td 
													if data.event.meetDirector.length>0
														p
															b Meet directors: 
															each person in data.event.meetDirector 
																a(href="mailto:#{person.email}?subject=#{data.event.title}")!= person.name.full
													if data.event.courseSetter.length>0		
														p
															b Course setters: 
															each person in data.event.courseSetter 
																a(href="mailto:#{person.email}?subject=#{data.event.title}")!= person.name.full
										if data.event.location && data.event.location.intersection.length > 0
											tr
												td
													b Major intersection
												td
													!= data.event.location.intersection
										if data.event.location && data.event.location.directions.length > 0
											tr
												td
													b Directions
												td
													!= data.event.location.directions
										if data.event.location
											tr 
												td 
													b Location	
												td 
													a(href='#{data.event.location.locationMapUrl}') #{data.event.location.name}
													br
													!= data.event.location.locationMapEmbed			
										if data.event.location && data.event.location.map
											tr
												td
													b Map
												td
													p
														b Scale: 
														| #{data.event.location.map.scale.replace('/',':')}
													p 
														b Contour Interval: 
														| #{data.event.location.map.contourInterval.replace('M','m')}						
													p
														b Revisions: 
														!= data.event.location.map.revision

												
										if data.event.format.length
											tr 
												td 
													b Format	
												td 
													!= data.event.format
										if data.event.cost
											tr 
												td 
													b Cost	
												td 
													!= data.event.cost
										if data.event.notes
											tr 
												td 
													b Notes	
												td 
													!= data.event.notes										
