extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8
		p: a(href='/events') &larr; back to the events
		hr
		if !data.event
			h2 Invalid Event.
		else
			header
				h1= data.event.title
				h5 Posted 
					if data.event.publishedDate
						| on #{data.event._.publishedDate.format('MMMM Do, YYYY')} 
					if data.event.author
						| by #{data.event.author.name.first}
			.event.post-content
				if data.event.image.exists
					.image-wrap: img(src=data.event._.image.fit(750,450)).img-responsive
				!= data.event.content.full
					table
						if data.event.startDate
							tr 
								td 
									b Start time
								td 
									| #{data.event._.startDate.format('dddd, MMMM Do, h:mm a')}
						if data.event.registrationTime
							tr 
								td 
									b Registration Time	
								td 
									!= data.event.registrationTime		
						if data.event.location
							tr 
								td 
									b Location	
								td 
									a(href='#{data.event.location.locationMapUrl}') #{data.event.location.name}
									!= data.event.location.locationMapEmbed
						if data.event.location.directions
							tr
								td
									b Directions
								td
									!= data.event.location.directions
						if data.event.location.map
							tr
								td
									b Map
								td
									Scale != #{data.event.location.map.scale}						

