extends ../layouts/default
include ../mixins/content-posts

block header-image
	include ../includes/layouts/header_image

mixin serviceCard(service, i)
	- var cardClass = "col-md-6 service-card"
	if(i < 2 ) 
		- var cardClass = cardClass + " border-bottom";
	if( i%2 ==0 ) 
		-var cardClass = cardClass + " border-right";
	- var tabIndex = i + 1;	
	div(class=cardClass)
		.h3 #{service.friendlyTitle}
		.service-brief
			!= service.content.brief
		.btn-group
			a(href="/services#tab"+tabIndex).btn.btn-primary Learn More

mixin eventCard(event, actionTitle, titlePath, hasBorder, showClinic)
	if event
		- var cardClass = "col-md-6 event-col"
		if (hasBorder)
			- var cardClass = cardClass + " border-right"
		div(class=cardClass) 
			.event-header.event-header-main
				.pull-left
					p #{event.title}
				if event.startDate
						.event-date.pull-right 
							p #{event._.startDate.format('MMM Do')}
			.event-brief
				!= event.content.brief
			.card-location
					span.icon.icon-location
						if event.location
							a(href=event.location.locationMapUrl target="_blank") #{event.location.name}
						else 
							a Coming soon
			.btn-group
				a(href='/events/event/' + event.slug).btn.btn-primary More Info
				if(showClinic)
					+registerForClinic(event)
				else if(event.registrationLink)
					a(href=event.registrationLink target="_blank").btn.btn-primary= actionTitle 	

mixin newsCard(events, titlePath)
	if events && events.length>0
		each event in events
			.col-md-12.news-content-col 
				.news-header
					.event-title
						p #{event.title}
				if event.publishedDate
					.event-date
						p.small posted on #{event._.publishedDate.format('MMM Do, YYYY')} by #{event.author.name.first}
				.news-brief.truncate-text
					!= event.content.brief
				a(href=titlePath + event.slug).news-more Read More >

		.btn-group.news-btn-group
			a(href= titlePath).btn.btn-primary.news-btn More News


block content
	.section.events-news-section
		.container
			.row
				.col-md-8
					h2.section-title.border-bottom Upcoming Events
						span.icon-title
					.row
						+eventCard(data.event, "Sign me up!", "/events/event/", true, false)
						+eventCard(data.weeklySeriesEvent, "Sign me up!", "/events/event/", false, true)
				.col-md-4.news-col
					h2.section-title.border-bottom Latest News
						span.icon-title
					.row
						+newsCard(data.news, "/blog/post/")
	.section
		.container
			.row
				.col-md-6.discover-text
					h1 Discover Orienteering
					p Orienteering, in the classical sense, is “cross-country running using a map and a compass.” Often called “cunning running” or “adventure running”, this is a thinking sport where you have to navigate a preset course of “control” locations in a park or forest using only your map, compass and your wits.
				.col-md-6.discover-image
					img(src='/images/discover.jpg' alt="Discover Orienteering").img-responsive
	.section.services-section
		.container
			h2.section-title.border-bottom How can we help?
				span.icon-title
			each service,i in data.servicesContent
				+serviceCard(service,i)