extends ../layouts/default

block header-image
	include ../includes/layouts/header_image

block content
	main.mdl-layout__content
		div.card-container.mdl-grid
			if data.event
				div.mdl-cell.mdl-cell--4-col
					div.event-card.mdl-card.mdl-shadow--2dp
						div.mdl-card__title
							h2.mdl-card__title-text Next Event
						div.mdl-card__supporting-text
							h3.card-event-title 
								a(href="/events") #{data.event.title}
							div.card-event-brief #{utils.htmlToText(data.event.content.brief)}
						div.mdl-card__actions.mdl-card--border
							a(href="#") Sign me up!
			if data.weeklySeriesEvent
				div.mdl-cell.mdl-cell--4-col				
					div.event-card.mdl-card.mdl-shadow--2dp
						div.mdl-card__title
							h2.mdl-card__title-text Next Wednesday Event
						div.mdl-card__supporting-text
							h3.card-event-title 
								a(href="/events#tab2") #{data.weeklySeriesEvent.title}
							div.card-event-brief #{utils.htmlToText(data.weeklySeriesEvent.content.brief)}
						div.mdl-card__actions.mdl-card--border
							a(href="#") Sign me up!
			if data.news
				div.mdl-cell.mdl-cell--4-col				
					div.event-card.mdl-card.mdl-shadow--2dp
						div.mdl-card__title
							h2.mdl-card__title-text Latest News
						div.mdl-card__supporting-text
							h3.card-event-title 
								a(href="/blog") #{data.news.title}
							div.card-event-brief #{utils.htmlToText(data.news.content.brief)}	
						div.mdl-card__actions.mdl-card--border
							a(href="#") More News
		div.mdl-grid
			div.mdl-cell.mdl-cell--12-col
				div.content-card.mdl-card
					div.mdl-card__title
						h2.mdl-card__title-text New to Orienteering?
					div.mdl-card__supporting-text
						p Orienteering, in the classical sense, is “cross-country running using a map and a compass.” Often called “cunning running” or “adventure running”, this is a thinking sport where you have to navigate a preset course of “control” locations in a park or forest using only your map, compass and your wits. The controls are visited in order but you choose your own routes between controls based on your navigational skills and physical condition. Although orienteering meets are typically competitive events, you can also enjoy the sport as a recreational activity – navigating a recreational course at your own pace either individually or in a group. A beginner’s clinic is usually available an hour or two before the first start of an event.
						
