mixin content-post(post)
	if(post)
		.row
			if(post.image.exists)
				.col-md-12
					img(src=post._.image.fit(600,600) alt="Event image").media-object
			.col-md-12
				.post-content: != post.content.extended

mixin event(event, showPlaceholder, showPublishedDate, rootUrl)
	if event
		li.media.event-panel.border-top
			.media-left
				if(event.image.exists)
					img(src=event._.image.fit(200,200) alt="Thumb image").media-object
				else if(showPlaceholder)
					img(src="../images/event.jpg" alt="Thumb image").media-object
			.media-body
				.media-heading.event-header.event-header-md
					.event-title.event-title-md
						!= event.title
					if event.startDate
							.event-date.event-date-md
								p #{event.eventDate}
				.event-brief-main
					if (event.publishedDate && showPublishedDate)
						.event-date
							p.small posted on #{event._.publishedDate.format('MMM Do, YYYY')} by #{event.author.name.first}
					!= event.content.brief
					if(event.results && event.results.length > 0)
						ul.event-results
							li 
								b Results: 
							each result in event.results
								li
									a(href=result.fullDocUrl target="_blank") #{result.title} 
				if event.location
					.card-location
						span.icon.icon-location 
							a(href=event.location.locationMapUrl target="_blank") #{event.location.name}
				.btn-group
					a(href=rootUrl + event.slug).btn.btn-primary More Info
					+registerForClinic(event)

mixin subscribe()
	form(action="https://torontoorienteering.us18.list-manage.com/subscribe/post?u=43c24c53bcba26e3eafe8e5ce&amp;id=e5f3152405" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
		.mc_embed_signup_scroll.form-group
			.input-group
				input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required).form-control
				div(style="position: absolute; left: -5000px;" aria-hidden="true")
					input(type="text" name="b_43c24c53bcba26e3eafe8e5ce_44d8a0ca27" tabindex="-1" value="")
				span.input-group-btn
					button(type="submit" id="mc-embedded-subscribe").btn.btn-primary Subscribe


mixin registerForClinic(event)
	if(event.startDate > new Date())
		if(event.hasClinic==true)
			a(href=event.clinicRegistrationUrl target="_blank").btn.btn-primary Signup for clinic	