mixin content-post(post)
	.row
		if(post.image.exists)
			.col-md-12
				img(src=post._.image.fit(600,600) alt="Event image").media-object
		.col-md-12
			.post-content: !{post.content.extended}


mixin event(event, showPlaceholder, showPublishedDate, rootUrl)
	if event
		li.media.event-panel.border-top
			.media-left
				if(event.image.exists)
					img(src=event._.image.fit(200,200) alt="Thumb image").media-object
				else if(showPlaceholder)
					img(src="../images/event.jpg" alt="Thumb image").media-object
			.media-body
				.media-heading.event-header
					.event-title.pull-left
						!{event.title}
					if event.startDate
							.event-date.pull-right 
								p !{event._.startDate.format('MMM, Do')} 		
				.event-brief-main
					if (event.publishedDate && showPublishedDate)
						.event-date
							p.small posted on !{event._.publishedDate.format('MMM, Do, YYYY')} by !{event.author.name.first}
					!{event.content.brief}
				//- if(event.results && event.results.length > 0)
				//- 	each result in event.results
				//- 		a(href="#{result.fullDocUrl}") Results #{result.title} 
				if event.location
					.card-location
						span.icon.icon-location 
							a(href=event.location.locationMapUrl target="_blank") !{event.location.name}							
				.btn-group
					a(href=rootUrl + event.slug).btn.btn-primary More Info
					if(event.startDate > new Date())
						if(event.hasClinic==true)
							a(href=event.registrationLink?event.registrationLink:"mailto:info@torontoorienteering.com?subject=#{event.title}-#{event._.startDate.format('MMM, Do')}" target="_blank").btn.btn-primary Register for clinic	

mixin subscribe()
	form(method="get" accept-charset='UTF-8' name='oi_form' action='http://link.whc.ca/oi/443/277481752927e3ac0bb55efd1ff07dca')
		input(type='hidden', name='goto', value='')
		input(type='hidden', name='iehack' value='&#9760;')
		.form-group
			.input-group
				input(type='email' id="email" placeholder="Enter your email" name='email' required).form-control
				span.input-group-btn
					button(type="submit").btn.btn-primary Subscribe								
	